body {
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 25px;
}

.mugshot {
	width: 100%;
	text-align: center;
}

.mugshot input[type=button] {
	margin: 10px;
	padding: 15px;
	font-size: 25px;
}

.mugshot img {
}

.answers {
	width: 100%;
}

.answer {
	float: left;
	width: 26%;
	margin: 1%;
	padding: 2%;
	background-color: #999;
	cursor: pointer;
}